number of AP:2
number of LTE AP:1
number of SPTCP station:4
number of MPTCP station:4
number of fixed station to AP:2
association of fixed station to AP:[1,2]
number of fixed station to LTE:1
association of fixed station to LTE:[4]
backhaul link bandwidth:[5,5,20]
backhaul link delay:[1,1,1]
backhaul link loss:[5,5,0]
LTE bandwidth:5
LTE delay:50
LTE loss:0
END