number of AP:2
number of LTE AP:1
number of SPTCP station:0
number of MPTCP station:8
number of fixed station to AP:0
association of fixed station to AP:[]
number of fixed station to LTE:0
association of fixed station to LTE:[]
backhaul link bandwidth:[6,6,20]
backhaul link delay:[1,1,1]
backhaul link loss:[5,5,0]
LTE bandwidth:5
LTE delay:50
LTE loss:0
END
40,100,0
100,100,0
15,79,0
99,66,0
30,78,0
106,68,0
51,104,0
83,93,0
11,108,0
88,112,0
