number of AP:2
number of LTE AP:1
number of SPTCP station:4
number of MPTCP station:4
number of fixed station to AP:2
association of fixed station to AP:[1,2]
number of fixed station to LTE:1
association of fixed station to LTE:[4]
backhaul link bandwidth:[6,6,20]
backhaul link delay:[1,1,1]
backhaul link loss:[5,5,0]
LTE bandwidth:5
LTE delay:50
LTE loss:0
END
40,100,0
100,100,0
45,64,0
62,100,0
43,95,0
137,90,0
40,79,0
126,111,0
26,71,0
77,120,0
57,104,0
78,113,0
3,4,0
