number of AP:
number of LTE AP:
number of SPTCP mobile station:
number of MPTCP mobile station:
number of fixed static station to AP:
association of fixed station to AP:[]
number of fixed static station to LTE:
association of fixed station to LTE:[]
backhaul link bandwidth:[APs, LTE APs]
backhaul link delay:[APs, LTE APs]
backhaul link loss:[APs, LTE APs]
LTE bandwidth:5
LTE delay:1
LTE loss:1
END
